html {
   background-color: #222;
}
body {
   display: flex;
   justify-content: center;

}

td,th
{
   padding: 6rem; 
}

tr {
   background: #3F4447;
}

#assignmentsTable {
   border-collapse: collapse;
   margin: 2rem 1rem;
   font-size: 0.9em;
   font-family: sans-serif;
   min-width: 15rem;
   color: #FFF;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#assignmentsTable thead tr {
   background-color: #F39C12;
   color: #ffffff;
   text-align: left;
}

#assignmentsTable tbody tr {
   border-bottom: 1px solid #dddddd;
}

#assignmentsTable tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}

#assignmentsTable tbody tr:last-of-type {
   border-bottom: 2px solid #009879;
}

#assignmentsTable tbody tr.active-row {
   font-weight: bold;
   color: #009879;
}