

.studentView
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-group
{
    display: flex;
    justify-content: center;
}

.card
{
    max-width: 30rem;
    height: 20rem;
}