body {
	display: flex;
	flex-direction: column;
	background-color: #3f4447 !important;
	justify-content: center;
	align-items: center;
}

.studentView {
	background-color: #3f4447;
}
.studentView {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

.card-group {
	display: flex;
	justify-content: center;
}

.card {
	width: 30rem;
	height: 30rem;
}

.card-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #f39c12;
	padding: 1.5rem 0;
	border-radius: 0.5rem;
}

#studentCardGroup {
	margin-bottom: 5rem;
}

#studentGrade {
	padding-top: 15rem;
	display: flex;
	justify-content: center;
}

#pdfSubmissionForm {
	display: flex;
}

.btn,
#gradeButton {
	height: 2.5rem !important;
	width: 5rem !important;
}

#studentGradeInput {
	height: 2.3rem;
}


